# Mac OS X
.DS_Store

# Notes
*.txt
notes.md
wire/output/*

# Code
wire/aleph.yap
wire/job.yap
wire/knowledge*
wire/test.pl
wire/t[1-5].f*
wire/t[1-5].n*
wire/t[1-5].b*
stdg/*.l
stdg/*.pl

# LaTex
*.aux
*.bbl
*.blg
*.bib
*.fdb_latexmk
*.fls
*.log
*.pdf
*.toc
*.bib
*.nav
*.out
*.snm
*.vrb
*.dvi
## master graphics
paper/gfx/masters/*

